*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

body{
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "btm btm btm" "b main d" "nav nav nav"
}
#btm{
    grid-area: btm;
    background: #7a49a5;
}
#main{
    grid-area: main;
    background:url("../Bg/1.jpg");
    background-size: 100vw;
    
}
nav{
	display: grid;
	background: white;
	grid-area: nav;
	border-top: 0.15rem solid #46C242;
	justify-content: center;
	align-items: center;   
}
#logo{
    height: 6rem;
}