*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background-image: url("../Bg/5.jpg");
    background-position: bottom;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    z-index:8;
}
.container{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 42rem 6.5rem 69.5rem 6vh;
	grid-template-areas: "home home home" "nav nav nav" " d main b" "d foot b";
    grid-row-gap: 1rem;
    z-index: 10;
}
#home{
    grid-area: home;
}
.home_mid{
    position: relative;
    width: 100%;
    height: 43rem;
    overflow: hidden;
}
.home_foto img{
    position: relative;
    bottom:0rem;
    width: 100%;
    height: 100%;
}
#home_copy{
    display: grid;
    position: absolute;
    top:41.5rem;
    font-size: 1rem;
    color: black;
    align-self: center;
    align-self: center;
    margin-left: 1rem;
}
#home_instructions{
    display: grid;
    position: absolute;
    top:41.5rem;
    left: 39.5rem;
    font-size: 1rem;
    color: black;
    text-shadow: 1rem 1rem 1rem black;
    align-self: center;
    align-self: center;
    margin-left: 1rem;
}
#home_Title{
    display: grid;
    position: absolute;
    font-size: 10vw;
    color: white; 
    top:13rem;
    left: 20vw;
    text-shadow: 0rem 0rem 1rem black;
}
.barra{
	display: grid;
    position: fixed;
    top: 0;
	background: white;
	grid-area: nav;
	border-bottom: 0.15rem solid #46C242;
    border-top: 0.15rem solid #46C242;
    box-shadow: 0 0 0.5rem black;
	position: sticky;
	justify-content: center;
	align-items: center;
    z-index: 11;
}
#logo{
    height: 6rem;
}
main{
	display: grid; 
	background-color: white;
	grid-area: main;
	border: 0.1rem solid #46C242;
    border-radius: 5rem;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0rem;
    z-index: 9;
    width: 60rem;
}
#conteudo{
    background: rgba(70, 194, 66,40%);
    grid-column: 2;
    grid-row: 1;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin: 1rem 1rem 1rem 0.5rem;
    height: 67rem;
    width: 2fr;
}
#Contatos{
    position: relative;
    background: rgba(0,0,0,10%);
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin: 1rem 0.5rem 1rem 1rem;
    height: 67rem;
    width: 1fr;
}
#Nome{
    font-size: 7rem;
    align-content: end;
    color: white;
    margin-left: 0.5rem;
}
#NomeCelular{
    display: none;
}
h2{
    color: #4684AF;
    position: relative;
    border-bottom: 1px solid #46C242;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
h3{
    margin-left: 2rem;
}
p{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
#tira-margin-bottom{
    margin-bottom: 0;
}
#grafico{
  margin: 0.5rem 1rem 1rem 2rem;
  border-radius: 1rem 4rem; 
}

/*--------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*-----------------foto de perfil com slide-------------------------*/
/*-------------------------abaixo-----------------------------------*/
/*------------------------------------------------------------------*/
.middle{
    position: relative;
    top: 9rem;
    left: 9rem;
    width: 16rem;
    height: 16rem;
    border-radius: 3rem 0rem 1rem 1rem;
    border:4px solid  #94B6D2;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.slides{
    width: 700%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    position: relative;
    right: 5rem;
    width: 24rem;
    height: 16rem;
    border-radius: 2rem 0rem 1rem 1rem;
}
.navigation{
    position: absolute;
    bottom: 1rem;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    display: flex;
    width: 0.4rem;
    height: 0.38rem;
    border: 0.05rem solid #fff;
    margin: 0.7rem;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: white;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin:0.45rem;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}
#midia{
    margin-top:3rem;
}
.titulo2{
    margin-top: 3rem;
}

.fa.fa-github{
    position: relative;
    font-size: 30px;
    color: #4684AF;
    margin-left: 1rem;
    
}
.fa.fa-instagram{
    position: relative;
    font-size: 30px;
    color: #4684AF;
    margin-left: 1rem;
}
.fa.fa-instagram:hover{
  color: white;
}
.fa.fa-github:hover{
  color: white;
}
footer{
	display:grid;
	grid-area: foot;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;  
	###tentar alterar a distancia dele para o fundo da tela###
}
@media(max-width: 1055px){
	main{
		width: 91vw;
		}
    #contatos{
        width: 1fr;
    }
    #conteudo{
        width: 1fr;  
    }
    .middle{
        position: relative;
        top:13.5vw;
        left: 13.5vw;
        width:24vw;
        height:24vw;
    }
    .slide img{
        right: 7.5vw;
        width:36vw;
        height:24vw;
    }
    #grafico{
        width: 52vw;
    }
    #Nome{
        font-size: 10.5vw;
    }
}
@media(max-width:830px){
    body{
        background-image: url();
        background-color: whitesmoke;
    }
    .container{
        grid-row-gap: 0;
    }
    main{
        display: none; 
        grid-template-columns: auto;
        background-color: snow;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 0;
        border-radius:0;
        border: 0rem none blue;
        width: 100vw;
    }
    footer{
        font-size: 1rem;
    }
}